body{
    font-family: 'Poppins', sans-serif;
    margin: 10%;
}
.first-section{
    display: flex;
}
.image-one{
    width: 50%
}
.person-pic{
    width: 400px;
    height: 400px;
}
.head-one{
    width: 50%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.head-first{
    font-size: 700;
    font-weight: 900;
}
.head-second{
    color: orange;
}
span{
    color: orange;
}
.mission{
    text-align: center;
}
.three-flex{
    display: flex;
}
.first-box{
    width: 30%;
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: 20px;

}
.second-box{
    width: 30%;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    border-radius: 20px;
}
.third-box{
    width: 30%;
    padding: 20px;
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
.illustator{
    width: 200px;
    height: 200px;
}